<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% Member.attribute_names.each do |field| %>
             <li> <a href="#"> <%= field %> </a> </li>
          <%end%>
        </ul>
      </div>
      <input type="text" class="form-control" aria-label="...">
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading"> Search Result</div>
  <div class='panel-body'>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th> Name</th>
        <th> Age</th>
        <th> Height</th>
        <th> Weight</th>
        <th> Occupation</th>
      </tr>
      </thead>
      <tbody>
      <% @matches.each do |member| %>
          <tr>
            <td> <%= member.name %> </td>
            <td> <%= member.age %> </td>
            <td> <%= member.height %> </td>
            <td> <%= member.weight %> </td>
            <td> <%= member.occupation %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"> All Member List</div>
  <div class='panel-body'>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th> Name</th>
        <th> Age</th>
        <th> Height</th>
        <th> Weight</th>
        <th> Occupation</th>
      </tr>
      </thead>
      <tbody>
      <% @members.each do |member| %>
          <tr>
            <td> <%= member.name %> </td>
            <td> <%= member.age %> </td>
            <td> <%= member.height %> </td>
            <td> <%= member.weight %> </td>
            <td> <%= member.occupation %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'New Member', new_member_path %>
